<html>
<head>
	<meta charset="UTF-8">
	<title><%=elang.title%>: Сотрудники</title>
	<link media="all" href="/employees/css/style.css" rel="stylesheet" type="text/css">
	<script src="/employees/js/java.js"></script>
</head>
<body>
	<div class="centerbox">
		<%-body -%>
	</div>
</body>
</html>